@media (max-width: 400px) {
    .logo {
        display:none;
    }
    .mobile-menu-icons ul {
        
        margin-left: 30px;
    }
}
@media (max-width: 450px) {
    .form-intro {
        margin: 0 auto 10px;
    }
}
@media (max-width:510px) {
    .project-info p , .project-info a {
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .about-image {
        display: none;
    }
    .projectpage-container {
        margin: 0;
    }
    .project-container {
        border: none;
        margin: 0;
        padding: 20px 0;
        border-top: 2px solid black;
    }
    .project-info {
        font-size: 20px;
    }
    .project-info h2 {
        border: none;
        font-size: 30px;
    }
    .contact-page {
        margin-top: 50px;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-intro {
        text-align: center;
        margin: 10px 0;
    }
    .social-links ul {
        justify-content: space-between;
    }
    .stacks {
        flex-wrap:wrap;
    }
    .stacks p {
        margin: 10px;
    }
    .livelinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .livelinks li {
        margin: 10px;
    }
}
@media (max-width: 1200px) {
    .mobile-menu {
        display: block;
        position: fixed;
        height: fit-content;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .mobile-menu-inner {
        background-color: rgba(255, 255, 255, 0.788);
    }

    .leftpart {
        display:none;
    }
    .rightpart {
        margin: 70px auto;
        padding: 0;
    }
    .profile-info {
        margin: 40px 0 0 0;
    }
    .project-info {
        margin: 0 auto;
    }
    .profile, .contact-page {
        min-height: fit-content;
    }
}

@media (max-width: 1352px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
}