.projectpage-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    padding: 50px;
    border: 3px solid black;
    border-radius: 10px;
}
.project-info img {
    border-radius: 10px;
    height: 50vh;
    margin-bottom: 20px;
    // width: 150vw;
}

.project-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.project-info h2 {
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 15px;
    border-radius: 8px;
}
.project-info span {
    position: absolute;
    display: inline-block;
    font-weight: 700;
    animation: animate 3s alternate infinite;
}

@keyframes animate 
{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    40%{
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-15px) rotate(180deg);
    }
    60%{
        transform: translateY(-20px) rotate(360deg);    
    }
    100% {
        transform: translateY(0px) rotate(360deg);
    }
}

.stacks {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;

}
.stacks p{
    padding: 7px;
    margin: 0 15px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.stacks p:hover {
    text-decoration: underline;
    
}
.project-description {
    text-align: center;
}
.livelinks {
    display: flex;
    justify-content: center;
}
.livelinks a {
    margin: 0 20px 0 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.livelinks a:hover,
.livelinks a:focus {

    background-color: rgba(184, 180, 180, 0.699);
    
}
