@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


$headerFont: 'Lobster', cursive;
$bodyFont: 'Lobster', cursive;

$headerFontSize: 40px;
$bodyFontSize: 18px;