@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

.visuallyHidden {
  display: none;
}

html {
  font-size: 125%;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #252424;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}

.mobile-menu {
  display: none;
}

.mobile-menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  clear: both;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.mobile-menu img {
  margin: 20px;
}

.mobile-menu-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu-icons li {
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 7px;
}

.mobile-menu-icons li:hover,
.mobile-menu-icons li:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  cursor: pointer;
}

.leftpart {
  width: 450px;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  padding: 0px 100px;
  background-color: #fff;
}

.leftpart_info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu ul {
  margin: 20px 0;
  text-align: center;
}

.menu li {
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 10px;
}

.menu li:hover,
.menu li:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  cursor: pointer;
}

.logo img {
  width: 70px;
  height: 70px;
}

.copyright {
  margin-top: 50px;
}

.copyright a {
  color: black;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(orange), color-stop(yellow), color-stop(green), color-stop(blue), to(purple));
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.copyright a:hover,
.copyright a:focus {
  cursor: pointer;
  color: transparent;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.rightpart {
  width: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  background-color: #f8f8f8;
  padding-left: 450px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  clear: both;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.profile-picture {
  margin-left: 50px;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  border-radius: 100%;
  margin-right: 80px;
}

.profile-picture img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: morph 8s ease-in-out infinite 1s;
          animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  -webkit-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.profile-info {
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
}

.profile-info h2 {
  font-size: 70px;
}

.social-media ul {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-media li {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
}

.social-media li:hover,
.social-media li:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.aboutpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  clear: both;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.description-info {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-image img {
  height: 40vh;
  width: 40vw;
}

.description-text {
  margin: 30px;
}

.description-info p {
  font-size: 1rem;
}

.description-text em {
  font-weight: 800;
  font-style: italic;
}

.description-info button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.description-info button:hover,
.description-info button:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.skills h3 {
  color: black;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(orange), color-stop(yellow), color-stop(green), color-stop(blue), to(purple));
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.skills h3:hover {
  color: transparent;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.stack-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.eachSkill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iconName {
  font-weight: 700;
  text-align: center;
  opacity: 0;
}

.eachSkill i {
  font-size: 50px;
  padding-bottom: 10px;
}

.stack-skills .eachSkill:hover .iconName,
.eachSkill:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}

.projectpage {
  border-bottom: 1px solid black;
}

.projectpage-container {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  padding: 50px;
  border: 3px solid black;
  border-radius: 10px;
}

.project-info img {
  border-radius: 10px;
  height: 50vh;
  margin-bottom: 20px;
}

.project-info {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-info h2 {
  position: relative;
  margin: 0 auto;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 15px;
  border-radius: 8px;
}

.project-info span {
  position: absolute;
  display: inline-block;
  font-weight: 700;
  -webkit-animation: animate 3s alternate infinite;
          animation: animate 3s alternate infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-15px) rotate(180deg);
            transform: translateY(-15px) rotate(180deg);
  }
  60% {
    -webkit-transform: translateY(-20px) rotate(360deg);
            transform: translateY(-20px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-15px) rotate(180deg);
            transform: translateY(-15px) rotate(180deg);
  }
  60% {
    -webkit-transform: translateY(-20px) rotate(360deg);
            transform: translateY(-20px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}
.stacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.stacks p {
  padding: 7px;
  margin: 0 15px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.stacks p:hover {
  text-decoration: underline;
}

.project-description {
  text-align: center;
}

.livelinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.livelinks a {
  margin: 0 20px 0 0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.livelinks a:hover,
.livelinks a:focus {
  background-color: rgba(184, 180, 180, 0.699);
}

.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  clear: both;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  padding: 5px;
}

.form-intro {
  text-align: left;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 60px;
}

.form-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links ul {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social-links li {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 0 30px 0 0;
}

.social-links li:hover,
.social-links li:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.imageOfMarshal img {
  border-radius: 20px;
  max-width: 100%;
}

@media (max-width: 400px) {
  .logo {
    display: none;
  }

  .mobile-menu-icons ul {
    margin-left: 30px;
  }
}
@media (max-width: 450px) {
  .form-intro {
    margin: 0 auto 10px;
  }
}
@media (max-width: 510px) {
  .project-info p, .project-info a {
    font-size: 15px;
  }
}
@media (max-width: 570px) {
  .project-info {
    margin: 0;
  }
}
@media (max-width: 750px) {
  .about-image {
    display: none;
  }

  .projectpage-container {
    margin: 0 auto;
  }

  .project-container {
    border: none;
    margin: 0;
    padding: 20px 0;
    border-top: 2px solid black;
  }

  .project-info {
    font-size: 20px;
  }

  .project-info h2 {
    border: none;
    font-size: 30px;
  }

  .contact-page {
    margin-top: 50px;
  }

  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form-intro {
    text-align: center;
    margin: 10px 0;
  }

  .social-links ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .stacks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stacks p {
    margin: 10px;
  }

  .livelinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .livelinks li {
    margin: 10px;
  }
}
@media (max-width: 1200px) {
  .mobile-menu {
    display: block;
    position: fixed;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .mobile-menu-inner {
    background-color: rgba(255, 255, 255, 0.788);
  }

  .leftpart {
    display: none;
  }

  .rightpart {
    margin: 70px auto;
    padding: 0;
  }

  .profile-info {
    margin: 40px 0 0 0;
  }

  .project-info {
    margin: 0 auto;
  }

  .profile, .contact-page {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
@media (max-width: 1352px) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}